extends ./index.pug
block pageContent
  section.about
     .container
       .about-head
         h1 about us
         p It is a long established fact that a reader will be distracted by the readable content
       .about-content
         .text
           .head
             h2 BEST INTERIOR DESIGN
             p  There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,There are many variations of passages of
           button read more
         .image
           img(src='./images/about_img.png')